<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <style>
    .header {
      text-align: center;
      padding: 20px 0;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <h1 class="header">
      Heo Đến Rồi
    </h1>
    <br/>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/adm/bull">Jobs manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/adm/logger">Logger</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/adm/logout">Logout</a>
      </li>
    </ul>
  </div>
  <%- include('footer'); %>
</body>
</html>