<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <link rel="stylesheet" href="<%- _.style('logger.css') %>">
</head>

<body>
  <div class="container-fluid">
    <div class="row header">
      <div class="col-xl-2 logo">LOGGER</div>
      <div class="col-xl-10 group-detail">
        <div class="detail mr-4">
          <span class="title">News lasted</span>
          <span class="value">21/23/2020 01:02:00</span>
        </div>
        <div class="detail mr-4">
          <span class="title">Total</span>
          <span class="value">12</span>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-xl-2 menu">
        <label class="form-label">Date range:</label>
        <div class="input-group input-daterange mb-3"  id="date-picker-from">
          <input type="text" class="form-control">
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="bi bi-calendar-week"></i>
            </div>
          </span>
        </div>
        <div class="input-group input-daterange mb-3" id="date-picker-to">
          <input type="text" class="form-control">
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="bi bi-calendar-week"></i>
            </div>
          </span>
        </div>
        <div class="input-group">
          <button type="submit" class="btn btn-primary mb-3">Filter</button>
        </div>
      </div>
      <div class="col-xl-10 main">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <div class="mb-0 name-log">
                <span class="badge badge-info mr-2">Info</span>
                A second item
              </div>
              <div class="collapse mt-2" id="collapseExample">
                <div class="card card-body">
                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); %>
</body>

<script>
  $('#date-picker-to').datepicker({
    "format": 'yyyy/mm/dd',
    "autoclose": true
  });
</script>
</html>