.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e7e8;
  background: #fff;
}

.header .group-detail {
  display: flex;
  justify-content: flex-end;
}

.header .group-detail .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .group-detail .detail .title {
  font-weight: 400;
  font-size: 14px;
  color: #7c7c7c;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-weight: bold;
  color: #fff;
  background-color: #303a4b;
  border-bottom: 1px solid rgba(0,0,0,.4);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.content {
  height: calc(100vh - 80px);
}

.content .menu {
  height: 100%;
  padding: 15px;
  padding-top: 1rem;
  box-shadow: 2px 0 4px 2px rgb(38 46 60 / 10%);
  color: #1c1d1d;
  background: linear-gradient(180deg,#fdfdfd,#eaecee 80%,#e8eaee);
}

.content .main {
 padding: 20px;
 overflow: auto;
 height: 100%;
}

.name-log {
  display: flex;
  align-items: center ;
}
