<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <style>
    .header {
      height: 100vh;
      background-image: url('<%- _.image("login_bg.png") %>');
      background-repeat: no-repeat;
      background-size: cover;
    }
    
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="header">
    </div>
 </div>
  
  <%- include('footer'); %>
</body>
</html>